<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employees</title>
</head>
<body>
    <div>
        <h1>Create Your Profile</h1>
        <form action="/profile?id=<%= id %> " method="POST">
            <label>Name:</label>
            <br>
            <input type="text" name="name"/>
            <br>
            <label>foto Profile:</label>
            <br>
            <input type="text" name="fotoProfile"/>
            <br>
            <label>BIO:</label>
            <br>
            <input type="text" name="bio"/>
            <br>
            <label>gender:</label>
            <br>
            <select name="gender">
                <option value="Male" > Male</option>
                <option value="Female">Female</option>
            </select>
            <br>
            <input type="submit" name="submit" value="Submit" />
        </form>
    </div>
</body>
<style>
    input[type=text] {
      width: 80%;
      padding: 10px 15px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    input[type=number] {
        width: 80%;
      padding: 10px 15px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    label {
        width: 80%;
      padding: 10px 15px;
      margin: 8px 0;
      box-sizing: border-box;
    }
    select {
        width: 80%;
      padding: 10px 15px;
      margin: 8px 0;
      box-sizing: border-box;
    }
</style>
</html>